/*

Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
    background-color: #2B2733;
    font-family: 'Montserrat';
    color: #CBC9CF;
    min-height: 100%;
}

.title {
    background-color: #46424D;
    color: #FFF;
    text-transform: uppercase;
    padding: 1em;
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.current-activity, .activity {
    color: #CBC9CF;
    padding: 2em;
    width: 75%;
    border-right: 1px solid #46424D;
}

.sub-title {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.activity-details, .form-container {
    background-color: #46424D;
    padding: 3em;
    width: 100%;
    margin: 0 auto;
}

.category-title {
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.category {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: auto 20px 1fr;
    box-shadow: #26222D;
}

.category-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.meditate-radio + .category-img {
    background-image: url('./assets/study.svg');
}

.study-radio + .category-img {
    background-image: url('./assets/study.svg');
}

.study-radio:checked + .category-img {
    background-image: url('./assets/study-active.svg');
}

.meditate-radio:checked + .category-img {
    background-image: url('./assets/study-active.svg');
}

.exercise-radio + .category-img {
    background-image: url('./assets/study.svg');
}

.exercise-radio:checked + .category-img {
    background-image: url('./assets/study-active.svg');
}

.category-type {
    border: 2px solid #FFF;
    display: grid;
    place-items: center;
    padding: .5em;
    height: 100%;
    position: relative;
}

.category-type1 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.category-type2 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.category-type3 {
    grid-column: 5/6;
    grid-row: 3/4;
}

.category-txt {
    font-weight: bold;
    color: #FFF;
}

.timer-form {
    margin-top:2em;
    display: flex;
    flex-direction: column;
}

textarea {
   margin-top: .2em;
   width: 100%;
   border: 0;
   border-bottom: 1px solid #FFF;
   resize: none;
   background-color: #46424D;
}

textarea:focus {
   border: 0;
   border-bottom: 1px solid #FFF;
   outline: none;
}

.time {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.time-input {
    width: 45%;
}

.btn {
    margin-top: 2em;
    align-self: flex-end;
    text-transform: uppercase;
    padding: .5em 1em;
}

.activity-list {
    padding: 2em;
    color: #CBC9CF;
}

.activity-msg {
    text-align: center;
    font-size: 1rem;
}

.study-selected {
    border: 1px solid #B3FD78;
}

.meditate-selected {
    border: 1px solid #C278FD;
}

.exercise-selected {
    border: 1px solid #FD8078;
}

.error {
    border-bottom: 1px solid #EFB7EC;
}

.error-txt {
    color: #EFB7EC;
}

.study-radio, .meditate-radio, .exercise-radio {
    position: absolute;
    opacity: 0;
}

.study, .exercise, .meditate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.study-radio:checked ~ .category-txt {
    color: #B3FD78;
}

.meditate-radio:checked ~ .category-txt {
    color: #C278FD;
}

.exercise-radio:checked ~ .category-txt {
    color: #FD8078;
}

.task {
    margin-top: 2em;
}

.warning {
    width: 25px;
    height: 25px;
    background-image: url('./assets/warning.svg');
    display: inline-block;
}

.status {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activity-details {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer, .seperator {
    color: #FFF;
    margin-right: .1em;
}

.bg-category {
   margin-top: 1em;
   position: relative;
   width: 150px;
   height: 150px;
   border-radius: 50%;
}

.clock {
    margin-top: .5em;
    font-size: 3rem;
}