/*

Main background: #2B2733
Text on main background: #CBC9CF
Header, cards: #46424D
Card shadow: #26222D
Text on header and cards: #FFF
Study: #B3FD78
Meditate: #C278FD
Exercise: #FD8078
Error: #EFB7EC

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2B2733;
    font-family: 'Montserrat';
    color: #CBC9CF;
    display: grid;
    grid-template-rows: 6vh 94vh;
}

.title {
    background-color: #46424D;
    color: #FFF;
    text-transform: uppercase;
    padding: 1em;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 65% 35%;
}

.complete-activity, .current-activity, .activity {
    color: #CBC9CF;
    padding: 2em;
    width: 100%;
    border-right: 1px solid #46424D;
    max-height: 100%;
}

.sub-title {
    font-size: 1.2rem;
    margin-bottom: 1em;
}

.completed-activity, .activity-details, .form-container {
    background-color: #46424D;
    padding: 2em;
    min-height: 400px;
    min-width: 450px;
}

.category-title {
    color: #FFF;
    font-size: 1rem;
    font-weight: bold;
    grid-column: 1/-1;
    grid-row: 1/2;
}

.category {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    grid-template-rows: auto 20px 1fr;
    box-shadow: #26222D;
}

.category-img {
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.meditate-radio + .category-img {
    background-image: url('../images/meditate.svg');
}

.study-radio + .category-img {
    background-image: url('../images/study.svg');
}

.study-radio:checked + .category-img {
    background-image: url('../images/study-active.svg');
}

.meditate-radio:checked + .category-img {
    background-image: url('../images/meditate-active.svg');
}

.exercise-radio + .category-img {
    background-image: url('../images/exercise.svg');
}

.exercise-radio:checked + .category-img {
    background-image: url('../images/exercise-active.svg');
}

.category-type {
    border: 2px solid #FFF;
    display: grid;
    place-items: center;
    padding: .5em;
    position: relative;
}

.category-type1 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.category-type2 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.category-type3 {
    grid-column: 5/6;
    grid-row: 3/4;
}

.category-txt {
    font-weight: bold;
    color: #FFF;
}

.timer-form {
    margin-top:1em;
    display: flex;
    flex-direction: column;
}

textarea {
   margin-top: 1.2em;
   width: 100%;
   height: 1.3em;
   border: 0;
   border-bottom: 1px solid #FFF;
   resize: none;
   background-color: #46424D;
   color: #fff;
   font-size: 1.2rem;
}

textarea:focus {
   border: 0;
   border-bottom: 1px solid #FFF;
   outline: none;
}

.time {
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
}

.time-input {
    width: 45%;
}

.btn {
    margin-top: 2em;
    align-self: flex-end;
    text-transform: uppercase;
    padding: .5em 1em;
    border-radius: 8px;
    outline: none;
}

.btn-log, .btn-create {
    align-self: center;
}

.activity-list {
    padding: 2em;
    color: #CBC9CF;
}

.activity-msg {
    text-align: center;
    font-size: 1rem;
}

.study-selected {
    border: 3px solid #B3FD78;
}


.study-selected-color {
    color: #B3FD78;
    font-size: 1.3rem;
}

.meditate-selected {
    border: 3px solid #C278FD;
}

.exercise-selected {
    border: 3px solid #FD8078;
}

.error {
    border-bottom: 1px solid #EFB7EC;
}

.error-txt {
    color: #EFB7EC;
    margin-top: .5em;
}

.study-radio, .meditate-radio, .exercise-radio {
    position: absolute;
    opacity: 0;
}

.study, .exercise, .meditate {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.study-radio:checked ~ .category-txt {
    color: #B3FD78;
}

.meditate-radio:checked ~ .category-txt {
    color: #C278FD;
}

.exercise-radio:checked ~ .category-txt {
    color: #FD8078;
}

.task {
    margin-top: 2em;
}

.warning {
    background-image: url('../images/warning.svg');
}

.status {
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
}

.activity-details {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer, .seperator {
    color: #FFF;
    margin-right: .1em;
}

.bg-category {
   margin-top: 1em;
   position: relative;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin-bottom: 2em;
}

.clock {
    margin-top: .5em;
    font-size: 4rem;
}

.disabled-color {
    color: gray;
}

.card {
    padding: .5em;
    background-color: #46424D;
    text-align:left;
    margin-bottom: 1em;
}

.card-meditate {
    padding-right: 1em;
    border-right: 3px solid #C278FD;
    margin-bottom: .5em;
}

.card-study {
    border-right: 3px solid #B3FD78;
    margin-bottom: .5em;
}

.card-exercise {
    border-right: 3px solid #FD8078;
    margin-bottom: .5em;
}

.card-desc {
    font-size: .7rem;
}

.card-time {
    font-size: .7rem;
}

.card-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: .8rem;
}

.completed-activity {
    display: flex;
    flex-direction: column;
}

.btn-disabled {
    background-color: #46424D;
    opacity: .5;
}

.new-activity {
    display: grid;
    place-items: center;
    height: 200px;
    font-size: 10rem;
    margin-top: 3rem;
}

@media screen and (max-width:900px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}